{% macro convertToLink(entry) %}
    {% if entry %}
        <a class="inline-link" href="{{ entry.url }}">{{ entry.title }}</a>
    {%  endif %}
{% endmacro %}

{% set minAge = settings.minimumAgeAllowed %}
{% set agbPage = _self.convertToLink(craft.entries().id(settings.pagePrivacyPolicy).one()) %}
{% set cookiesPage = _self.convertToLink(craft.entries().id(settings.pageCookiePolicy).one()) %}
{% set displayType = settings.displayType %}

{% switch displayType %}
    {% case 'modal' %}
    <article class="modal" id="agegate">
        <div class="wrap">
            <h3>{{ settings.agegateTitle }}</h3>
            <p>{{ settings.agegateContent | replace('[Cookies]', agbPage) | replace('[Datenschutz]', cookiesPage) | raw }}</p>
            <a href="#" class="button solid confirm-ag">{{ settings.agegateAgreeButton|replace('[minAge]', minAge) }}</a>
            <a href="#" class="button outline decline-ag">{{ settings.agegateDeclineButton|replace('[minAge]', minAge) }}</a>
        </div>
    </article>
    <div class="ag-verifyOverlay"></div>
    {% case 'redirect' %}
    <article class="component" id="agegate">
        <div class="wrap">
            <h3>{{ settings.agegateTitle }}</h3>
            <p>{{ settings.agegateContent | replace('[Cookies]', agbPage) | replace('[Datenschutz]', cookiesPage) | raw }}</p>
            <a href="#" class="button solid confirm-ag">{{ settings.agegateAgreeButton|replace('[minAge]', minAge) }}</a>
            <a href="#" class="button outline decline-ag">{{ settings.agegateDeclineButton|replace('[minAge]', minAge) }}</a>
        </div>
    </article>
{% endswitch %}
